<app-nav></app-nav>
<div class="border_form" >
<div class="=form-group">
    
    <label>Search Bar</label>
    <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="Searchiteam" style="width: 300px;margin-left: 50px">
</div>
<br>
<table border="1">
        <tr>
            <th>Id</th>
            <th>StaffName</th>
            <th>Mobile</th>
            <th>AdharNumber</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr *ngFor = "let staff of staffList | StaffFilter:Searchiteam |slice:0:10">
            <td>{{staff.StaffId}}</td>
            <td>{{staff.StaffName}}</td>
            <td>{{staff.Mobile}}</td>
            <td>{{staff.AdharNo}}</td>
            <td><input type="button" value="Delete" class="btn btn-danger" (click)="DeleteStaff(staff)"></td>
            <td><input type="button" value="Edit" class="btn btn-info" (click)="EditStaff(staff)"></td>
        </tr>
    </table>
    <br>
    <ul class="pagination" style="margin-left: 50px">
            <li ><a href="#">&laquo;</a></li>
            <li *ngFor="let i of GetArrayLength(staffList.lenghth);let in= index">
                <a href="#">{{in+1}}</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
