/* .Main{
    background-image: url('../../assets/Images/BG1.jpg');
   

    height: 768px;
    background-size: auto;
    

} */
/* .List-iteams{
    color: green;
}
.Main{
    background-color: aqua;
} */
/*.App_component{
    background-image: url('/assets/Images/Images1.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top:20px;
} */